<%- include('../layouts/header') %>

  <div class="page-wrapper">
    <style>
      .modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .modal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        max-width: 50%;
        max-height: 80%;
        overflow: auto;
      }

      .close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 28px;
        cursor: pointer;
      }

      .returnClose {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 28px;
        cursor: pointer;
      }

      /* Style the button inside the modal */
      .modal-content button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
      }

      /* Close button hover effect */
      .modal-content button:hover {
        background-color: #0056b3;
      }
    </style>

    <%- include('../layouts/navbar-2.ejs') %>

      <main class="main">

        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
          <div class="container">
            <h1 class="page-title">My Profile</h1>
          </div><!-- End .container -->
        </div><!-- End .page-header -->

        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <!-- <li class="breadcrumb-item"><a href="#"></a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Order Details</li>
            </ol>
          </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <section class="">

          <div class="container-fluid  py-5 h-100 position-relative ">

            <div class="row d-flex align-items-start  h-100" style="gap: 10rem;">

              <aside class="col-md-2 col-lg-2  ">

                <!-- profile nave -->

                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">

                  <li class="nav-item">
                    <a class="nav-link active" id="tab-orders-link" href="/orders" aria-selected="true">Back to
                      Orders</a>
                  </li>

                </ul>

                <br>

               

                    <div class="card"
                      style="border:.1rem solid #ebebeb !important; border-radius: 8px; padding-left: 20px;">

                      <div class="card-body">

                        <div class="hedaer d-flex align-items-center justify-content-center w-100">

                          <h5 class="card-title mb-2">

                            address

                          </h5>

                        </div>

                        <div class="mb-3">

                          <label class="form-label"> name:-&nbsp;<%= order?.deliveryAddress?.name %></label>

                        </div>

                        <div class="mb-3">

                          <label class="form-label"> city:-&nbsp;<%= order?.deliveryAddress?.city %></label>

                        </div>

                        <div class="mb-3">

                          <label class="form-label"> state:-&nbsp;<%= order?.deliveryAddress?.states %></label>

                        </div>

                        <div class="mb-3">

                          <label class="form-label"> pincode:-&nbsp;<%= order?.deliveryAddress?.pincode %></label>

                        </div>


                      </div>

                    </div>

              </aside>

              <aside class="col col-lg-6 mb-4 mb-lg-0">

                <div class="row w-100" style="gap: 2rem;">

                  <div class="container">

                    <table class="table table-wishlist table-mobile text-center" style="width: 960px;">
                      <thead>
                          <tr>
                              <th>Product</th>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Delivery</th>
                              <th>Total Price</th>
                              <th class="<%= order.products[0].orderProStatus == 'canceled' ? 'disabled' : '' %>">
                                  <%= order.products[0].orderProStatus == 'canceled' ? '' : 'Options' %>
                              </th>
                              <th class="<%= order.paymentStatus == 'success' ? 'disabled' : '' %>">
                                <%= order.paymentStatus == 'failed' ? 'Re Payment' : '' %>
                              </th>
                          </tr>
                      </thead>
                      <tbody class="text-center">
                          <% if (locals.order) { %>
                              <% order.products.slice().reverse().forEach((product, index) => { %>
                                  <tr>
                                      <td class="product-col">
                                          <figure class="product-media">
                                              <a href="/productDetails?proId=<%= product?.productId?._id %>">
                                                  <img src="<%= product?.productId?.images[0] %>" alt="Product image">
                                              </a>
                                          </figure>
                                      </td>
                                      <td>
                                          <a href="/productDetails?proId=<%= product?.productId?._id %>"
                                              style="<%= product.orderProStatus == 'canceled' ? 'text-decoration: line-through;' : '' %>">
                                              <%= product?.productId?.name %>
                                          </a>
                                      </td>
                                      <td class="stock-col ms-3"
                                          style="<%= product.orderProStatus == 'canceled' ? 'text-decoration: line-through;' : '' %>">
                                          ₹<%= product?.productId?.price %>
                                      </td>
                                      <td class="stock-col">
                                          <span class="in-stock"
                                              style="<%= product.orderProStatus == 'canceled' ? 'text-decoration: line-through;' : '' %>">
                                              <%= product?.quantity %>
                                          </span>
                                      </td>
                                      <td>
                                          <span class="<%= product?.orderProStatus == 'canceled' ? 'text-danger' : (product?.orderProStatus == 'returned' ? 'text-success' : 'text-primary') %>">
                                              <%= product?.orderProStatus %>
                                          </span>
                                      </td>
                                      <td class="price-col"
                                          style="<%= product.orderProStatus == 'canceled' ? 'text-decoration: line-through;' : '' %>">
                                          ₹<%= order.orderAmount %>
                                      </td>
                                      <td>
                                          <% if (product.orderProStatus == 'payment pending') { %>
                                              <button type="button" class="btn btn-primary"
                                                  onclick="razorPayy('<%= order.userId %>', '<%= order.orderAmount %>', '<%= order._id %>')">
                                                  <span>Place Order</span>
                                              </button>
                                          <% } else { %>
                                              <% if (product.orderProStatus != 'canceled' && product.orderProStatus != 'delivered' && product.orderProStatus != 'returned' && order.paymentStatus!='failed ') { %>
                                                  <button class="btn btn-danger openModalBtn" type="button"
                                                      data-order-id='<%= order._id %>'
                                                      data-product-id="<%= product.productId._id %>">
                                                      Cancel
                                                  </button>
                                              <% } else if (product.orderProStatus == 'delivered' && order.apporved == 0) { %>
                                                  <button class="btn btn-danger openReturnModalBtn" type="button"
                                                      data-order-id='<%= order._id %>'
                                                      data-product-id="<%= product.productId._id %>">
                                                      Return
                                                  </button>
                                              <% } else if (order.apporved == 1) { %>
                                                  <p class="text-danger">Request Sent</p>
                                              <% } %>
                                          <% } %>
                                        
                                      </td>
                                      <td   >
                                        <% if(order.paymentStatus!=='success') {%>
                                        
                                          <button onclick="repayment('<%= order._id %>','<%= order.orderAmount %>')" class="btn btn-danger">Re Payment</button>
                                          <% } %>
                                      </td>

                                      <td></td>
                                      <td style="margin-left: 30px;">
                                         <div class="mb-2" style="margin-left: 20px; margin-top: 19px;">
                                              <button class="btn border download-invoice-btn" data-product-id="<%= product.productId._id %>">
                                                  Download Invoice
                                              </button>
                                          </div>
                                        
                                      </td>
                                  </tr>
                                  <tr>
                                      <td colspan="7">
                                          <table class="invoice-table d-none" id="invoice-table-<%= product.productId._id %>">
                                              <thead>
                                                  <tr>
                                                      <th colspan="2">Sold by:</th>
                                                      <th colspan="3">Billing Address:</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td colspan="2">
                                                          ORNATE Pvt. Ltd,<br>
                                                          KINFRA Techno Industrial Park,<br>
                                                          National Highway 66,<br>
                                                          Near Calicut University,<br>
                                                          Kakkanchery Chelembra PO,<br>
                                                          Dt, Thenhipalam, Kerala 673634
                                                      </td>
                                                      <td colspan="3">
                                                          <%= order?.deliveryAddress?.name %><br>
                                                          <%= order?.deliveryAddress?.states %><br>
                                                          <%= order?.deliveryAddress?.city %><br>
                                                          <%= order?.deliveryAddress?.pincode %><br>
                                                      </td>
                                                  </tr>
                                                  <tr style="font-weight: bold;" class="mt-5">
                                                      <th>No.</th>
                                                      <th>Product</th>
                                                      <th>Price</th>
                                                      <th>Qty</th>
                                                      <th>Total</th>
                                                  </tr>
                                                  <% let count = 1; %>
                                                  <tr>
                                                      <td><%= count %>.</td>
                                                      <td><%= product.productId.name %></td>
                                                      <td>₹<%= product.price %></td>
                                                      <td><%= product.quantity %></td>
                                                      <td>₹<%= product.quantity * product.price %></td>
                                                  </tr>
                                                  <tr>
                                                      <td colspan="4">Total</td>
                                                      <td>₹<%= product.quantity * product.price %></td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </td>
                                  </tr>
                              <% }); %>
                          <% } %>
                      </tbody>
                  </table>

                    <% if(locals.order ) {%>

                      <div class="wishlist-share">

                        <div class="social-icons social-icons-sm mb-2">

                          <label class="social-label">Total:</label>

                          ₹<%= locals.order.orderAmount %>

                        </div><!-- End .soial-icons -->

                      </div>

                      <% } %>

                  </div>

                </div>
              </aside>
            </div>

          </div>

        </section>

      </main>

      <!-- Connect Footer -->
      <%- include('../layouts/footbar-2') %>
        <!-- Connect Footer -->

  </div>


                          // return modal
                          <div id="myModalReturn" class="modal">
                      <div class="modal-content">
                          <span class="returnClose">&times;</span>
                          <h2 style="margin-left: 110px; color: black;">Select Return Reason</h2>
                          <hr>
                          <select id="selectBoxx" style="width: 100%; height: 40px;">
                              <option value="Recieved Wrong Item">Recieved Wrong Item</option>
                              <option value="Defective or Damaged Product">Defective or Damaged Product</option>
                              <option value="Wrong Size or Fit">Wrong Size or Fit</option>
                              <option value="Unsatisfactory Quality">Unsatisfactory Quality</option>
                              <option value="Late Delivery">Late Delivery</option>
                              <option value="Other">Other</option>
                              Other options 
                          </select>
                          <button class="btn btn-Success"
                              style="width: 90px; margin-left: 200px; margin-top: 10px;"
                              id="submitModalButtonreturn">Submit</button>

                      </div>
                  </div>




                    // cancel modal
                    <div id="myModal" class="modal">
                      <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2 style="margin-left: 110px; color: black;">Select Cancellation Reason</h2>
                        <hr>
                        <select id="selectBox" style="width: 100%; height: 40px;">
                          <option value="Order Created by Mistake">Order Created by Mistake</option>
                          <option value="Items Would Not Arrive on Time">Items Would Not Arrive on
                            Time</option>
                          <option value="Item Price Too High">Item Price Too High</option>
                          <option value="Need to Change Shipping Address">Need to Change Shipping
                            Address</option>
                          <option value="Need to Change Payment Method">Need to Change Payment Method
                          </option>
                          <option value="Other">Other</option>
                          <!-- Other options -->
                        </select>
                        <button class="btn btn-Success" style="width: 90px; margin-left: 200px; margin-top: 10px;"
                          id="submitModalButton">Submit</button>

                      </div>
                    </div>

  <button id="scroll-top" title="Back to Top">

    <i class="icon-arrow-up"></i>

  </button>

  <!--Connect Mobaile View-->
  <%- include('../layouts/mobileView.ejs') %>
    <!--Connect Mobaile View-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
   
    <script>


      // cancel 
      function openModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = 'block';
      }

      function closeModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = 'none';
      }


      function submitCancellation(orderId, productId) {
        console.log(orderId,'lllll888');
        console.log(productId,'000');

        const selectedReason = document.getElementById('selectBox').value;
        console.log(selectedReason, 'selectedReason');

        Swal.fire({
          title: `Are you sure?`,
          icon: 'question',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText:` Yes`

        }).then((result) => {
          if (result.isConfirmed) {
            fetch('/cancelOrder', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                orderId: orderId,
                productId: productId,
                selectedReason: selectedReason
              })
            })
              .then(response => response.json())
              .then(data => {
                if (data.success) {
                  window.location.href = '/orders'
                }
              })

          }
        })
      }


      document.addEventListener('DOMContentLoaded', function () {

        var openModalBtns = document.querySelectorAll('.openModalBtn');
        var closeModalBtn = document.querySelector('.close');


        openModalBtns.forEach(function (btn) {
          btn.addEventListener('click', function () {
            var orderId = this.getAttribute('data-order-id');
            var productId = this.getAttribute('data-product-id');
            openModal();

            document.getElementById('submitModalButton').onclick = function () {
              submitCancellation(orderId, productId)
            }
          })

        });

        if (closeModalBtn) {
          closeModalBtn.addEventListener('click', closeModal);
        }
      });

    </script>

    <script>
      


      function openModalreturn(){
                var modal = document.getElementById('myModalReturn')
                modal.style.display = 'block';
            }

            function closeModal(){
                var modal = document.getElementById('myModalReturn')
                modal.style.display = 'none'
            }


            function submitReturn(orderId,productId){

                const selectedReason = document.getElementById('selectBoxx').value;

                Swal.fire({
                    title: `Are you sure?`,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText:` Yes`

                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/returnOrder', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                orderId:orderId,
                                productId:productId,
                                selectedReason:selectedReason
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.reload()
                            }
                        })

                    }
                })


            }

            document.addEventListener('DOMContentLoaded',function(){

                var openModalBtnReturn = document.querySelectorAll('.openReturnModalBtn');
                var closeModalBtnReturn = document.querySelector('.returnClose');
                
                openModalBtnReturn.forEach(function(btn){
                    btn.addEventListener('click',function(){
                        var orderId = this.getAttribute('data-order-id');
                        var productId = this.getAttribute('data-product-id');
                        openModalreturn();

                        document.getElementById('submitModalButtonreturn').onclick = function(){
                            submitReturn(orderId,productId)
                        }
                    })
                })

                if(closeModalBtnReturn){
                    closeModalBtnReturn.addEventListener('click', closeModal)
                }


            })

      </script>

      <script>


document.getElementById("dwnld-invoice").addEventListener("click", function () {
    let doc = new window.jspdf.jsPDF();
    let pageCenter = doc.internal.pageSize.getWidth() / 2;

    let productId = document.getElementById("product-id").value;
    console.log("productId:", productId)

    doc.setFontSize(20);
    doc.text("ORNATE", pageCenter, 8, { align: 'center' });
    doc.setFontSize(15);
    doc.text(`Invoice / Bill`, pageCenter, 20, { align: 'center' });

    // let table = document.querySelector(".invoice-table");
    let table = document.getElementById(`invoice-table-${ productId }`);

    doc.autoTable({ html: table, startY: 35 });

    doc.save(`invoice.pdf`);
});


</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.download-invoice-btn').forEach(button => {
            button.addEventListener('click', function () {
                const productId = this.dataset.productId;
                const invoiceTable = document.getElementById('invoice-table-' + productId).outerHTML;
                const blob = new Blob([invoiceTable], { type: 'text/html' });
                const url = URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = `invoice-${productId}.html`;
                a.click();
                URL.revokeObjectURL(url);
            });
        });
    });
</script>

<script>

  function SuccesPayment(orderid){

      fetch('/continuePayment',{
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({ orderid})

      })
      .then( res => res.json())
      .then(data => {

          if(data.success){
              window.location.reload();
          }

      })

  }


  function repayment(orderid,amount) {
					console.log('reached razor' + amount);
					
					fetch('/razor', {
						method: 'POST',
						headers: { 'Content-type': 'application/json' },
						body: JSON.stringify({ amount })
					}).then(res => res.json()).then(data => {
						if (data.succes) {

							let options = {
								"key": `${data.key_id}`,
								"amount": `${data.amount}`,
								"currency": "INR",
								"name": "ORNATE",
								"order_id": `${data.order_id}`,
								"handler": function (response) {
									SuccesPayment(orderid)

								},
								"profile": {
									"name": `${data.name}`,
									"email": `${data.email}`
								}
							}

							let razorpayObject = new Razorpay(options);
							razorpayObject.on('payment.failed', (response) => {
								
							});
							razorpayObject.open();
						}
					})
				}
 



</script>

    <%- include('../layouts/footer') %>